# Functions

In [1]:
print("this is my print")

this is my print

In [2]:
l = [324,45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [5]:
def test():
    pass

The code in the focal cell defines a function named `test()`. The function is `empty` and doesn't contain any code inside it. The `pass` keyword is used as a `placeholder` in Python when you need a statement `syntactically` but don't want to execute any code.

In this case, the `test()` function serves as a `placeholder` that can be filled with actual code later. It is common to define empty functions as placeholders when you're planning to add functionality to them in the future.

In [6]:
def test1():
    print("this is my very very first function")

`print` function return `Nonetype`

In [7]:
test1()

this is my very very first function

In [8]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "this is my very first return "

In [10]:
test2()

'this is my very first return '

In [11]:
test2() + "sudh"

'this is my very first return sudh'

In [12]:
 def test3() : 
        return "sudh" , 23, 345.56 , [1,2,3,3]

In [13]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

In [14]:
a,b,c,d = test3()

In [15]:
a, type(a)

('sudh', str)

In [16]:
b, type(b)

(23, int)

In [17]:
c, type(c)

(345.56, float)

In [18]:
d, type(d)

([1, 2, 3, 3], list)

In [19]:
a = 1 
b = 4

In [20]:
print("a , b: ", a, b)

a , b:  1 4

In [21]:
a , b = 6 , 9

In [22]:
print("a , b: ", a, b)

a , b:  6 9

In [23]:
def test4():
    a = 5+6/7
    return a

In [24]:
test4()

5.857142857142857

In [25]:
def test5(a, b ,c):
    d = a+b/c
    return d

In [26]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [27]:
test5(5 , 6, 7)

5.857142857142857

In [28]:
def test6(a,b):
    return a+b

In [29]:
test6(3,4)

7

In [30]:
test6(5.23, 6.27)

11.5

In [31]:
test6("abhishek" , " chakraborty")

'abhishek chakraborty'

In [32]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [33]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [34]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [35]:
l1

[1, 2, 3, 4]

In [36]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [37]:
test7(l)

[1, 2, 3, 4]

In [38]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [39]:
def test8(a) : 
    """this is my function to extract num data from list"""
    l1= []
    for i in a :
        if type(i) == list:
            for j in i :
                l1.append(j)
        else :
            if type(i) == int or type(i) == float :
                l1.append(i)
    return l1

In [40]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [41]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [42]:
test8()

TypeError: test8() missing 1 required positional argument: 'a'

In [43]:
def test9(*args):
    return args

In [44]:
type(test9())

tuple

In [45]:
test9(1,2,3)

(1, 2, 3)

In [46]:
test9(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [47]:
def test10(*sudh):
    return sudh

In [48]:
test10(1,2,34,4)

(1, 2, 34, 4)

In [49]:
def test11(*args , a) :
    return args , a

In [50]:
test11(1,2,3,4)

TypeError: test11() missing 1 required keyword-only argument: 'a'

In [51]:
test11(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [52]:
def test12(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [53]:
test12()

TypeError: test12() missing 2 required positional arguments: 'c' and 'd'

In [54]:
test12(3,4)

(23, 1, 3, 4)

In [55]:
test12(2,5 , a = 2342)

(2342, 1, 2, 5)

In [56]:
def test13(**kwargs):
    return kwargs

In [57]:
test13()

{}

In [58]:
type(test13())

dict

In [59]:
test13(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}

# Generator functions

In [60]:
range(10)

range(0, 10)

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a 
        a,b = b , a+b

In [63]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [64]:
type(test_fib(10))

generator

The code in the focal cell defines a function called `test_fi` that generates `Fibonacci` numbers up to a given limit `n.`

Here's a line-by-line explanation of the code:

- `def test_fib(n):` defines a function called `test_fib` that takes an input parameter `n.`
- `a, b = 0, 1` initializes two variables `a` and `b` with the values `0` and `1` respectively.
- `for i in range(n):` starts a loop that iterates `n` times.
- `yield`: `a` yields the current value of `a` as the next `Fibonacci` number in the sequence. This means that the `function` will `pause` here and return the value of `a` before continuing with the next `iteration` of the `loop.`
- `a, b = b, a + b` updates the values of `a` and `b` by swapping them, where `a` takes the value of`b` and `b` takes the `sum` of the previous values of `a` and `b.` This is how `Fibonacci` numbers are generated.

To use this function and generate `Fibonacci` numbers, you can call it with an argument `n` to specify the `limit.` For example, `test_fib(10)` will generate the first `10` `Fibonacci` numbers.

In [65]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        return a 
        a,b = b , a+b

In [66]:
type(test_fib(10))

int

In [67]:
for i in test_fib(10):
    print(i)

TypeError: 'int' object is not iterable

In [68]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a 
        a,b = b , a+b

In [69]:
fib = test_fib1()

In [70]:
type(fib)

generator

In [71]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [72]:
s = "sudh"

In [73]:
for i in s :
    print(i)

s
u
d
h

In [74]:
s

'sudh'

In [75]:
next(s)

TypeError: 'str' object is not an iterator

In [76]:
s1 = iter(s)

In [77]:
type(s1)

str_iterator

In [78]:
next(s1)

's'

In [79]:
next(s1)

'u'

In [80]:
next(s1)

'd'

In [81]:
next(s1)

'h'

In [82]:
next(45)

TypeError: 'int' object is not an iterator

In [83]:
iter(45)

TypeError: 'int' object is not iterable

In [84]:
def count_test(n):
    count = 1 
    while count <= n :
        yield count
        count = count + 1

In [85]:
c = count_test(5)

In [86]:
type(c)

generator

In [87]:
for i in c :
    print(i)

1
2
3
4
5

# Lambda Function

In [88]:
n = 3
p = 2

In [89]:
def test(n,p):
    return n**p

In [90]:
test()

TypeError: test() missing 2 required positional arguments: 'n' and 'p'

In [91]:
test(3,2)

9

In [92]:
a = lambda n, p : n**p

In [93]:
a(3,2)

9

This code defines a `lambd`a function and assigns it to the variable `a`. A `lambda` function is an `anonymous` function that can be defined in a `single line`. In this case, the `lambda` function takes two parameters `n` and `p`, and returns the result of `n` raised to the `power` of `p` using the `**` operator.

`Lambda` functions are commonly used when a `small`, `one-time` function is needed and it doesn't require a formal function definition. They are often used in `functional programming` and as arguments to `higher-order` functions.

In [94]:
add = lambda x,y : x+y

In [95]:
add(4,5)

9

In [96]:
# celsius to fahrenheit
c_to_f = lambda c : (9/5)*c + 32

In [97]:
c_to_f(45)

113.0

In [98]:
finding_max = lambda x,y : x if x > y else y

In [99]:
finding_max(34,23)

34

In [100]:
s = "pwskills"

In [101]:
find_len = lambda s : len(s)

In [102]:
find_len(s)

8

# Map, Reduce, Filter finction

In [103]:
l = [2,3,4,5,6]

In [104]:
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [105]:
test(l)

[4, 9, 16, 25, 36]

In [106]:
def sq(x):
    return x**2

In [107]:
list(map(sq , l))

[4, 9, 16, 25, 36]

The code in the focal cell makes use of the `map` function to apply the `sq` function to each element of the list `l`. Here's a breakdown of how it works:

- The map function takes two arguments: a function `(sq in this case)` and an iterable `(l in this case)`.
- The `sq` function is defined earlier in the code and it returns the `square` of a given `number.`
- The `map` function applies the `sq` function to each element of the iterable `(l)` and returns an `iterator` of the results.
- To get the final result as a `list`, the `list` function is used to convert the `iterator` into a `list`.

Therefore, the code `list(map(sq, l))` generates a new list where each element is the `square` of the corresponding element in the original list `l`. The result of this code is `[4, 9, 16, 25, 36].`

In [108]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36]

- `map(lambda x : x**2 , l)` applies the `lambda` function `lambda x : x**2` to each element of the list `l`.
- The `lambda` function takes a single parameter `x` and returns the `square` of `x` using the `**` operator.
- The `map` function applies this `lambda` function to each element of `l` and returns an `iterator` of the results.
- Finally, `list()` is used to convert the `iterator` into a `list.

In [109]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(map(lambda x , y : x+y , l1 , l2 ))

[7, 9, 11, 13, 15]

In [110]:
def add(x,y) :
    return x+y

In [111]:
list(map(add , l1 , l2 ))

[7, 9, 11, 13, 15]

In [112]:
s = "pwskills"
list(map(lambda s : s.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [113]:
from functools import  reduce

In [114]:
l = [1,2,3,3,4,5]

In [115]:
reduce(lambda x , y : x+y , l)

18

- The `reduce` function is being used here, which is imported from the functools module.
- The `reduce` function takes two `arguments:` a function `(lambda x, y: x + y)` and an `iterable (l).`
- The `lambda` function `lambda x, y: x + y` takes two parameters `x` and `y` and returns their `sum` using the `+` operator.
- The `reduce` function applies this `lambda` function successively to the elements of the `iterable l.`
- The `first two` elements of `l` are passed to the `lambda` function as `x` and `y`, and their `sum` is calculated.
- The `result` of the `first` calculation is then used as the `new x` for the next calculation, along with the `next element` of `l` as `y.`
- This process continues until all elements of `l` are processed, and the `final` result is returned.

In [116]:
reduce(lambda x ,y , z : x+y+z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [117]:
reduce(lambda x ,y : x+y , [])

TypeError: reduce() of empty sequence with no initial value

In [118]:
reduce(lambda x ,y : x+y , [1])

1

In [119]:
reduce(lambda x ,y : x*y , l)

360

In [120]:
l

[1, 2, 3, 3, 4, 5]

In [121]:
reduce(lambda x,y :x if x > y else y , l )

5

In [122]:
l

[1, 2, 3, 3, 4, 5]

In [123]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4]

- The `filter` function is applied to the `list l` with the condition specified by the `lambda` function `lambda x : x % 2 == 0.`
- The `lambda` function takes a single parameter `x` and checks if `x` is `divisible` by `2` with no `remainder (i.e., even)` by using the `modulo operator %.` If the condition is `True`, the element is included in the `filtered` result.
- The `filter` function `iterates` over `each element` in `l` and applies the `lambda` function to it.
- The resulting elements that satisfy the condition are collected and returned as an `iterator`.
- Finally, the `list()` function is used to convert the `iterator` into a `list.`

In [124]:
list(filter(lambda x : x % 2 != 0 , l))

[1, 3, 3, 5]

In [125]:
l1 = [-3,4,5,6,-1,-5]

In [126]:
list(filter(lambda x : x < 0 , l1 ))

[-3, -1, -5]

In [127]:
l2 = ["sudh"  , "pwskills" , "kumar" , "bengalore" , "krish"]

In [128]:
list(filter(lambda x : len(x) < 6 , l2))

['sudh', 'kumar', 'krish']

In [129]:
def find_len(x):
    if len(x) < 6:
        return x
    else:
        return None

In [130]:
list(filter(find_len , l2))

['sudh', 'kumar', 'krish']