**Q1. Create one variable containing following type of data:**

**(i) string**

**(ii) list**

**(iii) float**

**(iv) tuple**

In [1]:
string_data = "hello world"
print(type(string_data))
print(string_data)
print("\t")
list_data = [1, 2, 3, 4, 5]
print(type(list_data))
print(list_data)
print("\t")
float_data = 3.14
print(type(float_data))
print(float_data)
print("\t")
tuple_data = (6, 7, 8, 9, 10)
print(type(tuple_data))
print(tuple_data)

<class 'str'>
hello world

<class 'list'>
[1, 2, 3, 4, 5]

<class 'float'>
3.14

<class 'tuple'>
(6, 7, 8, 9, 10)

**Q2. Given are some following variables containing data:**

**(i) var1 = ‘ ‘**

**(ii) var2 = ‘[ DS , ML , Python]’**

**(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]**

**(iv) var4 = 1.**

**What will be the data type of the above given variable.**

In [5]:
var1 = ''
print(var1, type(var1))
print("\t")
var2 = '[ DS , ML , Python]'
print(var2, type(var2))
print("\t")
var3 = ['DS', 'ML', 'Python']
print(var3, type(var3))
print("\t")
var4 = 1.0 
print(var4, type(var4))

 <class 'str'>

[ DS , ML , Python] <class 'str'>

['DS', 'ML', 'Python'] <class 'list'>

1.0 <class 'float'>

**Q3. Explain the use of the following operators using an example:**

**(i) /**

**(ii) %**

**(iii) //**

**(iv) ****

(i) / : Division operator that returns the quotient of two numbers as a float value.
For example:

In [6]:
10/3

3.3333333333333335

(ii) % : Modulo operator that returns the remainder of division between two numbers.
For example:

In [7]:
10%3

1

(iii) // : Floor division operator that returns the quotient of two numbers as an integer, rounded down to the nearest integer.
For example:

In [8]:
10 // 3

3

(iv) ** : Exponentiation operator that returns the result of raising the first number to the power of the second number.
For example:

In [9]:
4 ** 3

64

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.**

In [10]:
my_list = [1, 2.5, 'hello', True, [1, 2, 3], {'name': 'John', 'age': 30}, (4, 5, 6), None, 8.9, False]

for element in my_list:
    print(element, type(element))
    print("\t")

1 <class 'int'>

2.5 <class 'float'>

hello <class 'str'>

True <class 'bool'>

[1, 2, 3] <class 'list'>

{'name': 'John', 'age': 30} <class 'dict'>

(4, 5, 6) <class 'tuple'>

None <class 'NoneType'>

8.9 <class 'float'>

False <class 'bool'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.**

In [29]:
A = int(input())
B = int(input())
n = A
count = 0

while n % B == 0:
    count += 1
    n /= B

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

66
64
66 is not divisible by 64.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.**

In [33]:
my_list = list(range(25))

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

0 is divisible by 3.
1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

Mutable data types are data types whose value can be changed after they are created. On the other hand, immutable data types are data types whose value cannot be changed after they are created. When we modify a mutable object, the object itself is modified. Whereas, when we modify an immutable object, a new object is created with the new value, leaving the original object unchanged.

Examples of mutable data types are lists, dictionaries, and sets. For example, we can modify the elements of a list after it has been created, like so:

In [37]:
my_list = [1, 2, 3]
print("old list is:")
print(my_list)
my_list[0] = 4
print("new list is:")
print(my_list)

old list is:
[1, 2, 3]
new list is:
[4, 2, 3]

In [38]:
my_dict = {'name': 'john' , 'age': 30}
print("old dictinary is:")
print(my_dict)
my_dict['age'] = 37
print("new dictinary is:")
print(my_dict)

old dictinary is:
{'name': 'john', 'age': 30}
new dictinary is:
{'name': 'john', 'age': 37}

In [39]:
my_set = {1,2,3}
print("old set is:")
print(my_set)
my_set[2] = 8
print("new set is:")
print(my_set)

old set is:
{1, 2, 3}

TypeError: 'set' object does not support item assignment

Examples of immutable data types are tuples, strings, and integers, floats, booleans. For example, we cannot modify the value of an integer after it has been created, like so:

In [35]:
my_string = "abhishek"
my_string[2] = "m"
print(my_string)

TypeError: 'str' object does not support item assignment

In [36]:
my_string = "abmishek"
print(my_string)

abmishek

**my_string** variable now refers to a new object with value **"abhmishek"** whereas previously it was referring to the object with value **"abhishek".**

- int: x = 5, x += 1 creates a new object with value 6.
- float: x = 1.5, x *= 2 creates a new object with value 3.0.
- str: x = "hello", x += " world" creates a new object with value "hello world".
- tuple: x = (1, 2, 3), x = x + (4,) creates a new object with value (1, 2, 3, 4).