**Q1. How do you comment code in Python? What are the different types of comments?**

To comment code in Python, you can use the `#` symbol to add a single-line comment or use triple quotes `'''` or `"""` to add multi-line comments.

Here's an example of single-line and multi-line comments:

In [1]:
# This is a single-line comment

In [2]:
'''
This is a multi-line comment.
It can span across multiple lines.
'''

'\nThis is a multi-line comment.\nIt can span across multiple lines.\n'

In [3]:
"""
This is also a multi-line comment.
It can also span across multiple lines.
"""

'\nThis is also a multi-line comment.\nIt can also span across multiple lines.\n'

In [4]:
"""
This is also a multi-line comment.
It can also span across multiple lines.
"""
a = 23
print(a)

23

**Q2. What are variables in Python? How do you declare and assign values to variables?**

Variables in Python are used to store and manipulate data. They act as containers that hold values of different types, such as numbers, strings, or objects.

To declare a variable, you simply choose a name for it and use the assignment operator (=) to assign a value to it. Here's an example:

```python
variable_name = value
```

You can assign values of different types to variables. Python is dynamically typed, meaning you don't need to specify the type of a variable explicitly.

Here are a few examples of variable declaration and assignment:

In [5]:
age = 25
Age = 32
name = "John Doe"
pi = 3.14159
is_student = True
print("age: " , age)
print("Age: " , Age)
print("name: " , name)
print("pi: " , pi)
print("is_student: " , is_student)

age:  25
Age:  32
name:  John Doe
pi:  3.14159
is_student:  True

The variable names are case-sensitive, so "age" and "Age" are considered different variables. You can also assign the same value to multiple variables in a single line:

In [6]:
x = y = z = 0
print("x_val, y_val, z_val: ", x,y,z)

x_val, y_val, z_val:  0 0 0

Additionally, Python allows you to assign multiple values to multiple variables in a single line using a process called "multiple assignment" or "tuple unpacking":

In [7]:
a, b, c = 1, 2, 3
print("a_val, b_val, c_val: ", a,b,c)

a_val, b_val, c_val:  1 2 3

Remember to choose meaningful names for your variables to improve code readability.

**Q3. How do you convert one data type to another in Python?**

To convert one data type to another in Python, you can use `type casting`. Python provides built-in functions to convert between different data types. Here are some commonly used type casting functions:

- **int():** Converts a value to an `integer`.
- **float():** Converts a value to a `float`.
- **str():** Converts a value to a `string`.
- **bool():** Converts a value to a `boolean`.

To convert a value to a specific data type, you can call the corresponding type casting function and pass the value as an argument. Here's an example:

In [8]:
x = 10
y = float(x)  # Converts x to a float
z = str(x)    # Converts x to a string

print(x, type(x))  
print(y, type(y))  
print(z, type(z))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

Note that `type casting` may result in `loss of precision` or information if the conversion is not possible. For example, converting a `string` that doesn't represent a valid `integer` to an `integer` will raise a `ValueError`.

In [9]:
string_value = "hello"
try:
    integer_value = int(string_value)
except ValueError:
    print("Error: The string does not represent a valid integer.")

Error: The string does not represent a valid integer.

In this example, the string `"hello"` cannot be converted to an `integer` because it contains `characters` that are not `numeric`. When you try to convert it using `int(string_value)`, a `ValueError` will be raised. To handle this exception, you can use a `try-except` block to catch the error and handle it properly. If we use the string `"2346"` then it will be okay:

In [10]:
string_value = "2346"
try:
    integer_value = int(string_value)
    print("integer_value: ", integer_value)
except ValueError:
    print("Error: The string does not represent a valid integer.")

integer_value:  2346

**Q4. How do you write and execute a Python script from the command line?**

Now open a `command prompt` and go to the `directory` where you want to create the `python script`:

In [11]:
!cd E:\Self Study\PWSkills Data Science\lecture ongoing\week 2

Displaying the current `directory`:

In [12]:
pwd

'E:\\Self Study\\PWSkills Data Science\\lecture ongoing\\week 2'

Displaying contents of a `directory`:

In [13]:
ls

 Volume in drive E is New Volume
 Volume Serial Number is 0647-E0D0

 Directory of E:\Self Study\PWSkills Data Science\lecture ongoing\week 2

05/21/2023  06:58 PM    <DIR>          .
05/16/2023  03:38 PM    <DIR>          ..
05/20/2023  10:44 PM    <DIR>          .ipynb_checkpoints
05/21/2023  06:41 PM            18,559 15 May Assignment.ipynb
05/20/2023  10:43 PM           133,952 15 May Lecture.ipynb
05/16/2023  03:39 PM         1,759,946 15 May_AssQ.pdf
05/16/2023  03:37 PM           566,962 data science masters hindi overview (1).pdf
05/21/2023  08:00 PM             2,684 Quiz.md
05/21/2023  06:54 PM                53 script.py
               6 File(s)      2,482,156 bytes
               3 Dir(s)  256,218,374,144 bytes free

In [14]:
!notepad script.py

Now press `yes` and enter the following code in the `script.py` file using the notepad editor:

```python
# Write your Python code here
print("Hello, world!")
```

Now `close` and `save` the file. Then `compile` and `run` the python program using the `python interpreter`:

In [15]:
!python script.py

Hello, world!

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [16]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print ("given_list: ", my_list)
print("sub_list: ", sub_list)

given_list:  [1, 2, 3, 4, 5]
sub_list:  [2, 3]

This code uses list slicing to obtain the `sub-list [2, 3]` from the `original list [1, 2, 3, 4, 5]`. The slice notation `my_list[1:3]` specifies that we want elements starting from index `1` up to (but not including) index `3`. The resulting `sub-list` is then printed.

**Q6. What is a complex number in mathematics, and how is it represented in Python?**

A `complex number` in mathematics is a number that comprises both a `real` part and an `imaginary` part. It is represented in `Python` using the `complex` data type. The complex number is written in the form `a + bj`, where `a` is the `real` part, `b` is the `imaginary` part, and `j` represents the square root of `-1`.

To represent a `complex` number in Python, you can use the `complex()` function or directly assign a value to a variable using the `a + bj` notation.

Here's an example:

In [17]:
# Using the complex() function
complex_number = complex(2, 3)
print("complex_number: ", complex_number)
print("real_part: ", complex_number.real)
print("imaginary_part: ", complex_number.imag)

complex_number:  (2+3j)
real_part:  2.0
imaginary_part:  3.0

In [18]:
# Assigning a value directly
complex_number = 4 + 5j
print("complex_number: ", complex_number)
print("real_part: ", complex_number.real)
print("imaginary_part: ", complex_number.imag)

complex_number:  (4+5j)
real_part:  4.0
imaginary_part:  5.0

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

In [19]:
age = 25
print("age: ", age)

age:  25

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?**

In [20]:
price = 9.99
print("price: ", price)
print("type(price): ", type(price))

price:  9.99
type(price):  <class 'float'>

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?**

In [21]:
name = "Abhishek Chakraborty"
print("my_name: ", name)
print("type(my_name): ", type(name))

my_name:  Abhishek Chakraborty
type(my_name):  <class 'str'>

**Q10. Given the string "Hello, World!", extract the substring "World".**

In [22]:
# FOCAL CELL
string = "Hello, World!"
substring = string[7:12]
print("GivenString: ", string)
print("SubString: ", substring)

GivenString:  Hello, World!
SubString:  World

**Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.**

In [23]:
is_student = True

if is_student:
    print("I am a student of PWSkills Imapct 2.0 batch")
else:
    print("I am not a student")

I am a student of PWSkills Imapct 2.0 batch